body {
    background-color: #666699;
}
.main {
    width: 50%;
    background: #ccc;
    margin-left: 25%;
    padding: 5px;
    padding-left: 15px;
    padding-right: 5px;
    word-wrap: break-word;
}